* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.todoContainer {
  background-color: #ffdcab;
  border-radius: 20px;
  height: 550px;
  width: 800px;
  overflow-y: scroll;
}

.todoContainer::-webkit-scrollbar {
  display: none;
}

.imageContainer {
  background-color: #f39871;
  border-radius: 20px;
  margin: auto;
  margin-top: 20px;
  width: 90%;
  padding: 0px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}

.imageContainer h1 {
  font-size: 45px;
  text-transform: capitalize;
}

.inputContainer {
  padding: 30px 50px;
}

.label {
  font-size: 25px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.input {
  font-size: 16px;
  padding-left: 20px;
  width: 75%;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 2px solid gray;
  height: 40px;
  margin-bottom: 20px;
}

.input::placeholder {
  text-transform: capitalize;
}

.save {
  padding-right: 50px;
  display: flex;
  justify-content: end;
  gap: 30px;
}

.save button {
  text-transform: capitalize;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #f39871;
  font-size: 18px;
  padding: 8px 15px;
}

.back {
  font-size: 18px;
  color: white;
  background-color: #f39871;
  border-radius: 50%;
  padding: 8px 10px;
  margin: 30px 0px 20px 30px;
  border: none;
  cursor: pointer;
}

.todo {
  background-color: #f1c19d;
  border-radius: 20px;
  margin: auto;
  padding: 20px 80px 30px 30px;
  width: 80%;
  margin-bottom: 30px;
}

.todo h2 {
  margin-bottom: 10px;
}

.todo p {
  font-size: 18px;
  margin-bottom: 20px;
}

.todo h2::first-letter {
  text-transform: uppercase;
}

.todo p::first-letter {
  text-transform: uppercase;
}

.buttonContainer {
  display: flex;
  justify-content: end;
  gap: 40px;
}

.buttonContainer button {
  border-radius: 5px;
  background-color: #f39871;
  color: white;
  border: none;
  cursor: pointer;
  text-transform: capitalize;
  font-size: 16px;
  padding: 8px 15px;
}

.modalContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  border-radius: 20px;
  background-color: #f1c19d;
  width: 350px;
  height: 380px;
}

.changeInput {
  padding-left: 30px;
}





























